// Variables
@color-black1:  #1d242d;
@color-black2:  #272f3d;
@color-black3:  #343f4d;
@color-gray1:   #464f61;
@color-gray2:   #5f697d;
@color-white1:  #c8c8c8;
@color-white2:  #ededed;
@color-blue:    #3c7fca;

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: @color-black2;
    font-size: 12px;
    color: @color-white1;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: transform 0.5s ease-out;
}
section {
    margin: 15px 10px 15px;
    border-bottom: 2px solid @color-black3;
    overflow: hidden;
}
article {
    padding: 5px 0px;
    margin: 5px 0px;
}
h1 {
    font-size: 20px;
    font-weight: 400;
    color: @color-gray2;
    margin: 0;
}
h2 {
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}
p {
    font-size: 10px;
    font-weight: 400;
    line-height: 1px;
    color: @color-gray2;
}

.slider,
.btn-single,
.switch {
    background: @color-black3;
    &:hover {
        background: @color-black1;
    }
}

#nav-toggle{
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    svg {
        fill: none;
        stroke: @color-white1;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: fill 0.3s ease-out;
    }
}

@media (max-width: 800px){
    nav {
        transform: translateX(100%);
        &.active {
            transform: translateX(0%);
        }
    }
    #nav-toggle {
        display: block;
        &.active svg {
            fill: @color-white1;
        }
    }
}
//////////////////// SLIDER
.slider {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    .slider-prog {
        width: 0%;
        height: 100%;
        background: @color-blue;
        pointer-events: none;
        transition: width 0.3s ease-out;
    }
}

//////////////////// BUTTON ROW
.btn-row {
    width: auto;
    height: 30px;
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    .btn-single {
        width: 50px;
        height: 100%;
        float: left;
        box-sizing: border-box;
        display: inline-block;
        border-right: 1px solid @color-black2;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        transition: background 0.3s ease-out;
        .svg-line{
            fill: none;
            stroke: @color-white1;
            stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
        &.active {
            background: @color-blue;
        }
    }
}

//////////////////// SWITCH
.switch {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    .switch-knob {
        width: 50%;
        height: 100%;
        border-radius: 6px;
        background: @color-white1;
        border: 2px solid @color-black3;
        box-sizing: border-box;
        transition: all 0.3s ease-in-out;
    }
    &.active {
        background: @color-blue;
        .switch-knob {
            border-color: @color-blue;
            margin-left: 50%;
        }
    }
}